body {
    height: 200vh;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
section {
    height: 100vh;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}